{% import "components/header.html" as header %}
{% import "components/node-details.html" as node_details %}
{% import "components/link-nodes.html" as link_nodes %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <base href="{{ config.base_path }}">
    <link rel="stylesheet" href="public/style.css" />
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/x-icon" href="public/favicon.ico">
    {% endblock head %}
</head>
<body>
{{ header::input(brand_logo_path = config.brand_logo_path, brand_title = config.brand_title, header_links = config.header_links) }}
<main id="content">{% block content %}{% endblock content %}</main>
{% include "components/powered_by_strune.html" ignore missing %}
</body>
</html>