{% macro input(brand_logo_path, brand_title, header_links) %}
<header id="header">
    <nav id="header_navbar">
        <a id="header-brand" href="/Strune">
            {% if brand_logo_path %}<img id="header-brand_logo" src="{{ brand_logo_path }}" alt="brand_logo">{% endif %}
            <div id="header-brand_title">{{ brand_title }}</div>
        </a>
        <ul id="header_menu">
            {% for link in header_links %}<li><a href="{{ link.url }}">{{ link.label }}</a></li>{% endfor %}
        </ul>
    </nav>
</header>
{% endmacro %}