{% import "components/header.html" as header %}
{% import "components/node-details.html" as node_details %}
{% import "components/link-nodes.html" as link_nodes %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="/public/style.css" />
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <link rel="favicon" href="/public/favicon.ico">
    {% endblock head %}
</head>
<body>
{{ header::input(page_logo_path = page_logo_path, page_title = page_title, header_links = header_links) }}
<div id="content">{% block content %}{% endblock content %}</div>
{% include "components/powered_by_strune.html" ignore missing %}
</body>
</html>