:root {
    --base-color: #2C2B33;
    --main-color: #FFF4FD;
    --sub-color: #62606E;
    --highlight-color: #7E9EFF;

    background-color: var(--base-color);
    color: var(--main-color);
}
a {
    color: var(--main-color);
    text-decoration: none;
}
a:hover {
    color: var(--highlight-color);
}

body{
    margin: 0;
}

header{
    width: 100%;
    height: 80px;
    max-width: 1024px;
    margin: auto;
}
#header_navbar{
    align-items: center;
    height: 100%;
}

#header-brand{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 20px;
}

#header-brand_logo{
    height: 60px;
    margin: 0 10px;
}

#header-brand_title{
    font-size: xx-large;
}


main{
    max-width: 720px;
    margin: auto;
    padding: 10px 20px;
}
